body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}



.login-card {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efecto de relieve */
  width: 350px; /* Ancho fijo */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Borde para reforzar el relieve */
}



.user-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  box-shadow: none;
  border: 2px solid #ddd;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5rem;
  background: #f9f9f9;
}

.input-group input {
  border: none;
  outline: none;
  flex: 1;
  padding: 0.5rem;
  background: transparent;
}

.login-button {
  background: #4facfe;
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
}

.welcome-section {
  flex: 1;
  max-width: 600px; /* Limitar ancho máximo de la columna */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 484px; /* Altura consistente con el login */
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra alrededor de la sección */
  background: white; /* Fondo blanco para el relieve */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Borde para el efecto de relieve */
}


.welcome-content {
  background: rgba(255, 255, 255, 0.8);
  padding: 1.5rem 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.welcome-content h1 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}

.welcome-content p {
  margin: 0.5rem 0 0;
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Forzar altura total */
  width: 100vw; /* Forzar ancho total */
  margin: 0 auto; /* Centrando horizontalmente */
}

.extra-options {
  display: flex;
  justify-content: space-between; /* Asegura separación entre los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  margin-top: 1rem; /* Espacio respecto al botón de inicio de sesión */
  font-size: 0.8rem; /* Reduce el tamaño de la letra */
  gap: 1rem; /* Añade separación entre "Recuérdame" y "Olvidé mi contraseña" */
}

.extra-options a {
  text-decoration: none;
  color: #4facfe;
}

.extra-options a:hover {
  text-decoration: underline;
}
